In [1]:
import numpy as np
import pandas as pd

In [2]:
credits=pd.read_csv("data1.csv")
movies=pd.read_csv("data2.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies.shape

(4803, 20)

In [6]:
credits.shape

(4803, 4)

In [7]:
movies=movies.merge(credits,on="title")

In [8]:
movies.merge(credits,on="title").shape

(4821, 26)

In [9]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
movies['original_language'].value_counts()
#more movie is in english so it is not really needed for project

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [11]:
#unwanted Columns(budget,homepage,original_language,original_title,popularity,production_companies,runtime,releasedate,revenue,spoken_language,status,tagline)
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [13]:
pip install skimpy

Requirement already satisfied: skimpy in c:\users\katha\anaconda3\lib\site-packages (0.0.14)
Requirement already satisfied: Pygments<3.0.0,>=2.10.0 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (2.15.1)
Requirement already satisfied: click<9.0.0,>=8.1.6 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (8.1.7)
Requirement already satisfied: ipykernel<7.0.0,>=6.7.0 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (6.28.0)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (1.26.4)
Requirement already satisfied: pandas<3.0.0,>=2.0.3 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (2.1.4)
Requirement already satisfied: polars<0.21,>=0.19 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (0.20.16)
Requirement already satisfied: pyarrow<16,>=13 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (14.0.2)
Requirement already satisfied: quartodoc<0.8.0,>=0.7.2 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (0.7.2)
Requirement already satisfied: rich<14.0,>=10.9 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (13.3.5)
Requirement already satisfied: typeguard==4.1.5 in c:\users\katha\anaconda3\lib\site-packages (from skimpy) (4.1.5)
Requirement already satisfied: typing-extensions>=4.7.0 in c:\users\katha\anaconda3\lib\site-packages (from typeguard==4.1.5->skimpy) (4.9.0)
Requirement already satisfied: colorama in c:\users\katha\anaconda3\lib\site-packages (from click<9.0.0,>=8.1.6->skimpy) (0.4.6)
Requirement already satisfied: comm>=0.1.1 in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.1.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (8.20.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.5.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.6.0)
Requirement already satisfied: packaging in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (23.1)
Requirement already satisfied: psutil in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.9.0)
Requirement already satisfied: pyzmq>=24 in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (25.1.2)
Requirement already satisfied: tornado>=6.1 in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (6.3.3)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\katha\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\katha\anaconda3\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\katha\anaconda3\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\katha\anaconda3\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2023.3)
Requirement already satisfied: griffe>=0.33 in c:\users\katha\anaconda3\lib\site-packages (from quartodoc<0.8.0,>=0.7.2->skimpy) (0.42.1)
Requirement already satisfied: sphobjinv>=2.3.1 in c:\users\katha\anaconda3\lib\site-packages (from quartodoc<0.8.0,>=0.7.2->skimpy) (2.3.1)
Requirement already satisfied: tabulate>=0.9.0 in c:\users\katha\anaconda3\lib\site-packages (from quartodoc<0.8.0,>=0.7.2->skimpy) (0.9.0)
Requirement already satisfied: importlib-metadata>=5.1.0 in c:\users\katha\anaconda3\lib\site-packages (from quartodoc<0.8.0,>=0.7.2->skimpy) (7.0.1)
Requirement already satisfied: importlib-resources>=5.10.2 in c:\users\katha\anaconda3\lib\site-packages (from quartodoc<0.8.0,>=0.7.2->skimpy) (6.4.0)
Requirement already satisfied: pydantic in c:\users\katha\anaconda3\lib\site-packages (from quartodoc<0.8.0,>=0.7.2->skimpy) (1.10.12)
Requirement already satisfied: pyyaml in c:\users\katha\anaconda3\lib\site-packages (from quartodoc<0.8.0,>=0.7.2->skimpy) (6.0.1)
Requirement already satisfied: watchdog>=3.0.0 in c:\users\katha\anaconda3\lib\site-packages (from quartodoc<0.8.0,>=0.7.2->skimpy) (4.0.0)
Requirement already satisfied: plum-dispatch>2.0.0 in c:\users\katha\anaconda3\lib\site-packages (from quartodoc<0.8.0,>=0.7.2->skimpy) (2.3.3)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\katha\anaconda3\lib\site-packages (from rich<14.0,>=10.9->skimpy) (2.2.0)
Requirement already satisfied: zipp>=0.5 in c:\users\katha\anaconda3\lib\site-packages (from importlib-metadata>=5.1.0->quartodoc<0.8.0,>=0.7.2->skimpy) (3.17.0)
Requirement already satisfied: decorator in c:\users\katha\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\katha\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.18.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\katha\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (3.0.43)
Requirement already satisfied: stack-data in c:\users\katha\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\katha\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.7.0->skimpy) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\katha\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.7.0->skimpy) (305.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\katha\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich<14.0,>=10.9->skimpy) (0.1.0)
Requirement already satisfied: beartype>=0.16.2 in c:\users\katha\anaconda3\lib\site-packages (from plum-dispatch>2.0.0->quartodoc<0.8.0,>=0.7.2->skimpy) (0.17.2)
Requirement already satisfied: six>=1.5 in c:\users\katha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.0.3->skimpy) (1.16.0)
Requirement already satisfied: attrs>=19.2 in c:\users\katha\anaconda3\lib\site-packages (from sphobjinv>=2.3.1->quartodoc<0.8.0,>=0.7.2->skimpy) (23.1.0)
Requirement already satisfied: certifi in c:\users\katha\anaconda3\lib\site-packages (from sphobjinv>=2.3.1->quartodoc<0.8.0,>=0.7.2->skimpy) (2024.2.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\katha\anaconda3\lib\site-packages (from sphobjinv>=2.3.1->quartodoc<0.8.0,>=0.7.2->skimpy) (4.19.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\katha\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.3)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\katha\anaconda3\lib\site-packages (from jsonschema>=3.0->sphobjinv>=2.3.1->quartodoc<0.8.0,>=0.7.2->skimpy) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\katha\anaconda3\lib\site-packages (from jsonschema>=3.0->sphobjinv>=2.3.1->quartodoc<0.8.0,>=0.7.2->skimpy) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\katha\anaconda3\lib\site-packages (from jsonschema>=3.0->sphobjinv>=2.3.1->quartodoc<0.8.0,>=0.7.2->skimpy) (0.10.6)
Requirement already satisfied: wcwidth in c:\users\katha\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.5)
Requirement already satisfied: executing in c:\users\katha\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.3)
Requirement already satisfied: asttokens in c:\users\katha\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\katha\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from skimpy import skim
skim(movies)
#using new library rather than using describe method

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 4809   │ │ string      │ 6     │                                                          │
│ │ Number of columns │ 7      │ │ int32       │ 1     │                                                          │
│ └───────────────────┴────────┘ └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column_name     ┃ NA   ┃ NA %   ┃ mean    ┃ sd      ┃ p0  ┃ p25    ┃ p50     ┃ p75     ┃ p100    ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━┩  │
│ │ movie_id        │    0 │      0 │   57000 │   89000 │   5 │   9000 │   15000 │   59000 │  460000 │  ▇▁ ▁   │  │
│ └─────────────────┴──────┴────────┴─────────┴─────────┴─────┴────────┴─────────┴─────────┴─────────┴─────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name               ┃ NA      ┃ NA %       ┃ words per row                ┃ total words              ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ title                     │       0 │          0 │                          2.8 │                    13370 │  │
│ │ overview                  │       3 │       0.06 │                           52 │                   250949 │  │
│ │ genres                    │       0 │          0 │                           10 │                    49282 │  │
│ │ keywords                  │       0 │          0 │                           34 │                   163769 │  │
│ │ cast                      │       0 │          0 │                          360 │                  1717022 │  │
│ │ crew                      │       0 │          0 │                          380 │                  1841547 │  │
│ └───────────────────────────┴─────────┴────────────┴──────────────────────────────┴──────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

In [15]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
movies.dropna(inplace=True)

In [17]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
movies.duplicated().sum()

0

In [19]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [20]:
import ast

In [21]:
def convert(obj):
    genreslist =[]
    for i in ast.literal_eval(obj):
        genreslist.append(i['name'])
    return genreslist

In [22]:
movies['genres']=movies['genres'].apply(convert)

In [23]:
movies['keywords']=movies['keywords'].apply(convert)

In [24]:
def convert2(obj):
    list2 =[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter != 3:
            list2.append(i['name'])
            counter+=1
        else:
            break
    return list2

In [25]:
movies['cast'].apply(convert2)

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [26]:
movies['cast']=movies['cast'].apply(convert2)

In [27]:
def convert3(obj):
    list3 =[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            list3.append(i['name'])
            break
    return list3

In [28]:
movies['crew']=movies['crew'].apply(convert3)

In [29]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
419,8247,Jumper,"David Rice is a man who knows no boundaries, a...","[Adventure, Fantasy, Science Fiction]","[adolescence, based on novel, loss of child, f...","[Hayden Christensen, Jamie Bell, Samuel L. Jac...",[Doug Liman]
520,38365,Grown Ups,After their high school basketball coach passe...,[Comedy],"[overweight, swing, foot, convertible, arrow]","[Adam Sandler, Salma Hayek, Maria Bello]",[Dennis Dugan]
1952,11699,The Bad Lieutenant: Port of Call - New Orleans,"Terrence McDonagh, a New Orleans Police sergea...","[Drama, Crime]","[police brutality, organized crime, policeman,...","[Nicolas Cage, Eva Mendes, Val Kilmer]",[Werner Herzog]
3212,13483,Awake,"While undergoing heart surgery, a man experien...","[Thriller, Crime, Mystery]",[],"[Hayden Christensen, Jessica Alba, Terrence Ho...",[Joby Harold]
3438,87499,The East,An operative for an elite private intelligence...,"[Drama, Thriller]","[secret organization, murder, environmentalism...","[Brit Marling, Alexander Skarsgård, Ellen Page]",[Zal Batmanglij]

In [30]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [31]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [32]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [33]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez]
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns]
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith]
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia]
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",[BrianHerzlinger]

In [34]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [35]:
df=movies[['movie_id','title','tags']]

In [36]:
df['tags']=df['tags'].apply(lambda x:" ".join(x))

C:\Users\katha\AppData\Local\Temp\ipykernel_8412\2493417758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(lambda x:" ".join(x))

In [37]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [38]:
df['tags']=df['tags'].apply(lambda x:x.lower())

C:\Users\katha\AppData\Local\Temp\ipykernel_8412\2034404066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(lambda x:x.lower())

In [39]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [40]:
def stem(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [41]:
df['tags']=df['tags'].apply(stem)

C:\Users\katha\AppData\Local\Temp\ipykernel_8412\4230616273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(stem)

In [42]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=5000,stop_words='english')

In [44]:
cv.fit_transform(df['tags']).toarray().shape

(4806, 5000)

In [45]:
vectors=cv.fit_transform(df['tags']).toarray()

In [46]:
cv.get_feature_names_out()
#new version of countvectorizer it is cv.get_feature_names()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
similarity=cosine_similarity(vectors)

In [49]:
cosine_similarity(vectors).shape

(4806, 4806)

In [50]:
similarity[1]
#second movie distance with all 4806 movies therefore 1 is on array index 1

array([0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
       0.02615329])

In [51]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574)]

In [52]:
def recommend(movie):
    movie_index=df[df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(df.iloc[i[0]].title)

In [53]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [54]:
pip install pickle

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [55]:
import pickle

In [56]:
pickle.dump(df,open('movies.pkl','wb'))

In [57]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [58]:
pickle.dump(df.to_dict,open('movies_dict.pkl','wb'))